.App {
    text-align: center;
}

.Game-header {
    background-color: #282c34;
    /*min-height: 15vh;*/
    max-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.GoLang-Formatting {
    color: #61dafb;
}

.WebAsm-Formatting {
    color: #654FF0;
}

.GoLang-Formatting, .WebAsm-Formatting {
    text-shadow: 0 0 8px #000;
    text-decoration: underline;
    text-decoration-color: #FFF;
}

